## set default server charset
AddDefaultCharset UTF-8

## folder listing access control
Options All -Indexes

## deny access to system files
<FilesMatch "\.(.*sql|tpl|db|inc|log|md)|(config|common).php$">
deny from all
</FilesMatch>